# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java etc..;

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
8. SciKit-Learn.
9. PyTorch, etc..;

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# this is a common arithmetic example to multiply and then add integers
(3 * 4) + 5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

__Objective__
* List popular languages for Data Science
* List popular libraries for Data Science
* List of well-known Data Science Tools
* How to provide comments in the cell

## Author
Muhammad Naufal Mahadhitia